{% extends 'base.html' %}

{% block content %}
<div id="form" style="margin-left: auto; margin-right: auto; max-width: 700px;">
	<h2> Sua Sinh Viên</h2>
	<form method="POST" action="{% url 'edit_sv' %}" >
		{% csrf_token %}
		<div class="form-group">
			<label for="name">Tên SV</label>
			<input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Tên SV" value="{{data.ho_ten}}">
			<!-- <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		</div>
		<div class="form-group">
			<label for="mssv">MSSV</label>
			<input type="text" name="mssv" class="form-control" id="mssv" placeholder="MSSV" value="{{data.ma_so}}">
		</div>
		<div class="form-group">
			<label for="mssv">Lớp</label>
			<input type="text" name="lop" class="form-control" id="mssv" placeholder="Lớp" value="{{data.lop}}">
		</div>
		<div class="form-group">
			<label for="detai">Tên đề tài</label>
			<select class="form-control" name="madt" >
				{% for pk in detai %}
				<option value="{{pk.msdt}}" {% if data.ma_detai.msdt == pk.msdt %} selected{% endif %} >{{pk.tendt}}</option>
				{% endfor %}
			</select>
		</div>
		<a href="{% url 'index' %}" type="button" class="btn btn-danger">Cancel</a>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</div>
{% endblock %}