{% extends 'base.html' %}

{% block content %}
<div id="form" style="width: 35%; margin: 50px auto;">
	<h2>Thêm Giang Viên</h2>
	<form method="POST" action="{% url 'edit_gv' %}" >
		{% csrf_token %}
		<div class="form-group">
			<label for="name">Tên GV</label>
			<input type="text" name="name" value="{{data.ho_ten}}" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Tên GV">
		</div>
		<div class="form-group">
			<label for="mssv">MSGV</label>
			<input type="text" name="msgv" value="{{data.ma_so}}" class="form-control" id="mssv" placeholder="MSGV">
		</div>
		<div class="form-group">
			<label for="mssv">Dia Chi</label>
			<input type="text" name="diachi" value="{{data.dia_chi}}" class="form-control" id="mssv" placeholder="Dia Chi">
		</div>
		<div class="form-group">
			<label for="mssv">Email</label>
			<input type="email" name="email" value="{{data.email}}" class="form-control" id="mssv" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="mssv">So Dien Thoai</label>
			<input type="text" name="sdt" class="form-control" value="{{data.sdt}}" id="mssv" placeholder="SDT">
		</div>
		<div class="form-group">
			<label for="mssv">Hoc Vi</label>
			<input type="text" name="hocvi" class="form-control" value="{{data.hoc_vi}}" id="mssv" placeholder="Hoc Vi">
		</div>
		<div class="form-group">
			<label for="mssv">Chuyen Nganh</label>
			<input type="text" name="chuyennganh" value="{{data.chuyen_nganh}}" class="form-control" id="mssv" placeholder="Chuyen Nganh">
		</div>

		<button type="button" class="btn btn-danger">Cancel</button>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %}